@tailwind base;
@tailwind components;
@tailwind utilities;

.characters-grid {
  grid-template-columns: repeat(4, 320px);
}

@media screen and (max-width: 1536px) {
  .characters-grid {
    grid-template-columns: repeat(4, 260px);
  }
}

@media screen and (max-width: 1280px) {
  .characters-grid {
    grid-template-columns: repeat(4, 220px);
  }
}

@media screen and (max-width: 1024px) {
  .characters-grid {
    grid-template-columns: repeat(3, 210px);
  }
}

@media screen and (max-width: 768px) {
  #homeHero {
    height: calc(100vh - theme(spacing.36));
  }

  .characters-grid {
    grid-template-columns: repeat(2, 190px);
  }
}

@media screen and (max-width: 576px) {
  .characters-grid {
    grid-template-columns: repeat(1, 220px);
  }
}
